@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app{
  min-height: 100vh;
  display: grid;
  grid-gap: 24px 50px;
  background-color: #0f0f17;
  grid-template-areas: "nav-header nav-header"
                       "movie-container cart";
  color: white;
  font-family: 'Manrope', sans-serif;

}

header{
  grid-area: nav-header;
}

h1{
  margin-bottom: 20px;
}

.container{
  grid-area: movie-container;
  margin-left: 40px;
}

.cart{
  grid-area: cart;
}


