.cart-header{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #A785ED;
  color: white;
}

.cart{
  display: flex;
  width: 312px;
  flex-direction: column;
  background: rgba(0,0,0,.2);
  grid-gap: 24px;
  gap: 24px;
  padding: 40px 16px;
}

.empty-cart{
  text-align: center;
}

.full-bag{
  position: fixed;
}

.cart-item{
  display: flex;
  align-items: center;
  gap: 8px;
}

.cart-movie-info{
  margin: 8px;
}

.cart-movie-info p{
  margin-bottom: 5px;
}

.cart-poster{
  width: 45px;
  height: 65px;
}

.add-button{
  all: unset;
  color: green;
}

button{
  all:unset;
  cursor: pointer;
}

.control-amount-area{
  display: flex;
  gap: 14px;
  margin-left: 10px;
}

.control-amount-area button{
  width: 24px;
  height: 24px;
}

:is(.add-amount, .remove-button):hover{
  background: linear-gradient(0deg,rgba(46,46,46,.45),rgba(46,46,46,.45)),#6B6B6B;
}

:is(.add-amount, .remove-button):active{
  background: linear-gradient(0deg,hsla(0,0%,48.2%,.45),hsla(0,0%,48.2%,.45)),#6B6B6B;
}




.purchase-button{
  background: #e25ebf;
  color: #fdfdfd;
  width: 280px;
  height: 52px;    
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.purchase-button:hover{
  background: linear-gradient(0deg,rgba(225,123,123,.45),rgba(225,123,123,.45)),#ffb6eb;
  box-shadow: 0 16px 24px -12px rgb(226 94 191 / 16%);
}

.purchase-button:active{
  background: linear-gradient(0deg,rgba(225,123,123,.6),rgba(225,123,123,.6)),#ffb6eb;
  box-shadow: 0 16px 24px -12px rgb(226 94 191 / 50%);
}
